// //Font
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

// // Utils
// // @import "./utils/variables.scss";
// // @import "./utils/mixins.scss";
// // @import "./utils/helpers.scss";

// //bootstrap
// // @import "~bootstrap/scss/bootstrap";

// // Componentes
// // @import "./components/container.scss";
// // @import "./components/footer.scss";
// // @import "./components/menu.scss";

// //Secciones

// // Screens
// // @import "./pages/home/home.scss";

// html {
//   width: 100%;
//   overflow-x: hidden;
// }

// body {
//   width: 100%;
//   font-family: "Montserrat", sans-serif;

//   h1 {
//     font-size: 28px;
//     line-height: 40px;
//     font-weight: 500;
//     @include response(medium) {
//       font-size: 56px;
//       line-height: 72px;
//       font-weight: 500;
//     }
//   }
//   h2 {
//     font-size: 28px;
//     line-height: 40px;
//     font-weight: 300;
//     @include response(medium) {
//       font-size: 56px;
//       line-height: 72px;
//       font-weight: 300;
//     }
//   }

//   h3 {
//     font-size: 28px;
//     line-height: 36px;
//     font-weight: 400;
//     @include response(medium) {
//       font-size: 40px;
//       line-height: 48px;
//       font-weight: 400;
//     }
//   }
//   h4 {
//     font-size: 24px;
//     line-height: 34px;
//     font-weight: 500;
//     @include response(medium) {
//       font-size: 32px;
//       line-height: 40px;
//       font-weight: 500;
//     }
//   }

//   p {
//     &.paragraph--large {
//       font-size: 20px;
//       line-height: 32px;

//       @include response(medium) {
//         font-size: 24px;
//         line-height: 36px;
//       }
//     }
//   }

//   ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//   }
//   a {
//     color: map-get($colors, trigo);
//     font-weight: 600;
//     text-decoration: none;
//   }
// }
