// Utils
@import "./utils/variables.scss";
@import "./utils/mixins.scss";

//bootstrap
@import "~bootstrap/scss/bootstrap";

// Componentes
@import "./components/container.scss";
@import "./components/footer.scss";
@import "./components/menu.scss";
@import "./components/hero";
@import "./components/modal";
@import "./components/inscribite-flag.scss";
@import "./components/popup";
@import "./components/video-galeria";

//Sections
// @import "./pages/home/home.scss";
@import "./sections/inscripcion";
@import "./sections/carta-presidente";
@import "./sections/programa";
@import "./sections/expositores";
@import "./sections/comision-organizadora";
@import "./sections/auspiciantes";
@import "./sections/encuentros-anteriores";
@import "./sections/camino";
@import "./sections/bienvenida";
@import "./sections/galeria";
@import "./sections/repercuciones";
@import "./sections/videos";

//Fonts
@font-face {
  font-family: "Gilroy-Black";
  src: url("./fonts/Gilroy/Gilroy-Black.otf");

  font-family: "Gilroy-BlackItalic";
  src: url("./fonts/Gilroy/Gilroy-BlackItalic.otf");

  font-family: "Gilroy-Bold";
  src: url("./fonts/Gilroy/Gilroy-Bold.otf");

  font-family: "Gilroy-BoldItalic";
  src: url("./fonts/Gilroy/Gilroy-Bold.otf");

  font-family: "Gilroy-Extrabold";
  src: url("./fonts/Gilroy/Gilroy-Bold.otf");

  font-family: "Gilroy-ExtraboldItalic";
  src: url("./fonts/Gilroy/Gilroy-Bold.otf");

  font-family: "Gilroy-Heavy";
  src: url("./fonts/Gilroy/Gilroy-Bold.otf");

  font-family: "Gilroy-HeavyItalic";
  src: url("./fonts/Gilroy/Gilroy-Bold.otf");

  font-family: "Gilroy-Light";
  src: url("./fonts/Gilroy/Gilroy-Light.otf");

  font-family: "Gilroy-LightItalic";
  src: url("./fonts/Gilroy/Gilroy-LightItalic.otf");

  font-family: "Gilroy-Medium";
  src: url("./fonts/Gilroy/Gilroy-Medium.otf");

  font-family: "Gilroy-MediumItalic";
  src: url("./fonts/Gilroy/Gilroy-MediumItalic.otf");

  font-family: "Gilroy-Regular";
  src: url("./fonts/Gilroy/Gilroy-Regular.otf");

  font-family: "Gilroy-RegularItalic";
  src: url("./fonts/Gilroy/Gilroy-RegularItalic.otf");

  font-family: "Gilroy-Semibold";
  src: url("./fonts/Gilroy/Gilroy-Semibold.otf");

  font-family: "Gilroy-SemiboldItalic";
  src: url("./fonts/Gilroy/Gilroy-SemiboldItalic.otf");

  font-family: "Gilroy-Thin";
  src: url("./fonts/Gilroy/Gilroy-Thin.otf");

  font-family: "Gilroy-ThinItalic";
  src: url("./fonts/Gilroy/Gilroy-ThinItalic.otf");

  font-family: "Gilroy-UltraLight";
  src: url("./fonts/Gilroy/Gilroy-UltraLight.otf");

  font-family: "Gilroy-UltraLightItalic";
  src: url("./fonts/Gilroy/Gilroy-UltraLightItalic.otf");
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;

  h1 {
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
  }
  h2 {
    font-size: 28px;
    line-height: 40px;
    font-weight: 300;
  }

  h3 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
  }
  h4 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    font-weight: 600;
    text-decoration: none;
  }
  img {
    margin: 0;
    padding: 0;
  }
}
