// colors
$colors: (
  white: #ffffff,
  black: #000,
  mineral: #263230,
  olivo: #4e603f,
  musgo: #7f8d74,
  madera: #645b4c,
  trigo: #b1aa9d,
  arroz: #e5e5d6,
);

// font-weights:start
$weights: (
  400: "400",
  500: "500",
  600: "600",
  700: "700",
);
// font-weights:end

// breakpoints
$breakpoints: (
  small: 768px,
  medium: 1024px,
  large: 1200px,
  extraLarge: 1440px,
  wide: 2000px,
);

// Bootstrap variables
$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xl: 1440px,
);
