.hero {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;

  @include response(medium) {
    padding-top: 230px;
    padding-bottom: 100px;
  }

  .hero__video {
    width: 100%;
    height: 123px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: white;

    @include response(medium) {
      height: 323px;
    }
  }
}
