.menu {
  position: sticky;
  overflow: hidden;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9000;
  transition: top 0.3s;
  background-color: #ededed;
  padding: 2px 10px 1px;

  @include response(medium) {
    overflow: hidden;
    top: 0;
    position: fixed;
  }
  .menu__media {
    float: left;
    top: 1;
    left: 1;
    position: absolute;
    display: none;
    svg {
      margin-right: 5px;
      margin-left: 5px;
      * {
        color: grey;
      }
    }
    &:first-child {
      margin: 0;
    }
    @include response(medium) {
      display: block;
    }
  }

  .menu__banners {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px 10px;
    @include response(medium) {
      flex-direction: row;
      justify-content: space-evenly;
    }
    .img-encuentro {
      width: 215px;
      height: 60px;
      margin-bottom: 20px;
      @include response(large) {
        width: 260px;
        height: 70px;
        margin-top: 20px;
      }
    }
  }

  .img-acde {
    display: none;
    @include response(medium) {
      display: block;
    }
  }
  .img-bicentenario {
    display: none;

    @include response(medium) {
      display: block;
      width: 176px;
      height: 101px;
    }
  }
  .menu__fecha {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    padding-top: 26px;
    display: none;
    span {
      font-weight: 400;
      color: #1673b9;
      font-size: 18px;
      text-transform: uppercase;
      @include response(medium) {
        font-size: 18px;
      }
    }
    @include response(medium) {
      display: block;
    }
  }

  .banner__list {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    a {
      color: #707070;
    }

    @include response(medium) {
      display: flex;
    }
  }

  .menu__toggler {
    width: 24px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 18px;
    display: flex;
    padding: 0;
    flex-direction: column;
    border: 0;
    background: none;

    @include response(medium) {
      display: none;
    }

    &.menu__toggler--activo {
      span {
        &:first-child {
          top: 9px;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          top: -9px;
          transform: rotate(-45deg);
        }
      }
    }

    span {
      width: 100%;
      height: 2px;
      position: relative;
      margin-bottom: 7px;
      background-color: black;
      transition: all 0.3s ease;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .list__desktop {
    display: inline-flex;
  }
  .menu__content {
    position: absolute;
    width: 100%;
    top: 5%;
    padding-top: 42px;
    background-color: #ededed;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 9999;

    &--activo {
      opacity: 1;
      visibility: visible;
      position: relative;

      .menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        transition: all 0.5s;

        li {
          padding-bottom: 22px;
          margin-right: 20px;
          list-style-type: none;

          @include response(medium) {
            position: relative;
            x-index: 9999;
          }
          a {
            color: #707070;
          }
        }
      }
    }
  }
}
