.camino {
  margin-bottom: 40px;
  .camino__banner {
    width: 100%;
    height: 100px;
    background-color: #e22084;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 52px;
    img {
      display: none;
    }

    @include response(large) {
      img {
        display: block;
        width: 180px;
        height: 75px;
        margin-right: 1000px;
      }
    }

    .camino__title {
      font-weight: 700;
      color: white;
      position: absolute;
      font-size: 32px;

      @include response(medium) {
        text-transform: uppercase;
      }
    }
  }

  .camino__sliders {
    img {
      width: 100%;
    }
    @include response(medium) {
      margin-left: 90px;
    }
    .camino__article {
      width: 300px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-content: center;
      align-items: center;
      justify-content: space-between;

      img {
        margin: 0;
        padding: 0;
      }

      .slider__titulo {
        font-size: 18px;
        font-weight: 700;
        color: #1673b9;
      }

      .slider__titulo2 {
        font-size: 18px;
        font-weight: 700;
        color: #1673b9;
        margin-bottom: 45px;
      }
      .camino__autor {
        border-bottom: 1px solid grey;
        padding-bottom: 20px;
        margin-left: 30px;
        margin-right: 30px;
      }
    }
  }
}
