.carta {
  padding-top: 40px;

  .carta__rectangulo {
    display: flex;
    align-items: center;

    .carta__span {
      width: 596px;
      height: 74px;
      background-color: #52ae39;
      margin: 0;
      padding: 0;
      display: none;

      .logo {
        width: 230px;
        height: 102px;
        padding-right: 150px;
      }

      img {
        width: 39px;
        height: 48px;
        padding-right: 12px;
      }

      @include response(medium) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }

    .carta__titulo {
      font-size: 32px;
      text-transform: uppercase;
      color: #52ae39;
      font-weight: 700;
      text-align: center;
      padding-left: 20px;
    }
  }
  .carta__text {
    @include response(medium) {
      //padding-top: 80px;
      padding-top: 40px;
      padding-left: 200px;
      padding-right: 200px;
    }

    .parrafo_inicial {
      display: inline-block;
    }

    .foto_presidente {
      display: block;
      float: left;
      width: 300px;
      height: 300px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 5px;
      margin-right: 20px;
    }

    .carta__parrafo__cita {
      font-style: italic;
    }
  }
  span {
    text-transform: uppercase;
    font-weight: 700px;
  }

  .carta__firma {
    font-weight: 700;
    float: right;
    //padding-top: 10px;
    text-transform: uppercase;

    .carta__firma__nombre {
      font-size: 28px;
      font-family: "Gilroy-Bold", sans-serif;
    }
    .carta__firma__cargo {
      font-size: 22px;
      font-family: "Gilroy-Medium", sans-serif;
      margin-bottom: 40px;
    }

    p {
      padding: 0;
      margin: 0;
    }
  }
}
