.comision {
  padding-top: 132px;
  .comision__rectangulo {
    display: flex;
    align-items: center;
    object-fit: contain;

    .comision__span {
      width: 596px;
      height: 74px;
      background-color: #52ae39;
      margin: 0;
      padding: 0;
      display: none;

      .logo {
        width: 230px;
        height: 102px;
        margin: 0 auto;
      }

      img {
        width: 75px;
        height: 45px;
        padding-right: 12px;
      }

      @include response(medium) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }

    .comision__titulo {
      font-size: 32px;
      text-transform: uppercase;
      color: #52ae39;
      font-weight: 700;
      text-align: center;
      margin: 0 auto;
    }
  }

  .comision__integrantes {
    padding-top: 42px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    white-space: nowrap;

    @include response(medium) {
      padding-left: 200px;
      padding-right: 200px;
    }

    .integrante {
      display: flex;
      position: center;
      text-transform: uppercase;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;

      img {
        width: 212px;
        height: 212px;
      }

      @include response(medium) {
        font-size: 18px;
        img {
          width: 132px;
          height: 132px;
        }
      }
      .comision__separador {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 54px;
        height: 4px;
        background-color: #52ae39;
      }
    }
  }
}
