.comision {
  padding-top: 22px;
  box-sizing: border-box;
  .comision__rectangulo {
    width: 100%;
    display: flex;
    align-items: center;
    object-fit: contain;

    .comision__span {
      width: 100%;
      height: 100px;
      background-color: #52ae39;
      margin: 0;
      padding: 0;

      .logo {
        width: 180px;
        height: 75px;
        margin: 0 auto;
      }

      img {
        width: 75px;
        height: 45px;
        padding-right: 12px;
        display: none;
        @include response(small) {
          display: block;
        }
      }

      @include response(small) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .comision__titulo {
        font-size: 32px;
        text-transform: uppercase;
        color: white;
        font-weight: 700;
        text-align: center;
        padding-top: 10px;
        @include response(medium) {
          margin-right: 420px;
        }
      }
    }
  }

  .comision__integrantes {
    padding-top: 42px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    white-space: nowrap;

    @include response(medium) {
      padding-left: 50px;
      padding-right: 50px;
    }

    .integrante {
      display: flex;
      position: center;
      text-transform: uppercase;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 19px;
      padding-bottom: 70px;

      img {
        width: 212px;
        height: 212px;
      }

      @include response(small) {
        img {
          width: 132px;
          height: 132px;
        }
      }
      .comision__separador {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 54px;
        height: 4px;
        background-color: #52ae39;
      }
      .integrante__posicion {
        font-size: 15px;
        white-space: pre-wrap;
        text-align: center;
        text-transform: none;
        color: grey;
      }
      .integrante__button {
        background-color: #52ae39;
        color: white;
        border: 1px solid #52ae39;
        padding: 7px 14px;
        &:hover {
          background-color: white;
          color: #52ae39;
        }
      }
    }
  }
}
