.expositores {
  padding-top: 120px;
  .expo__rectangulo {
    display: flex;
    align-items: center;

    .expo__span {
      width: 596px;
      height: 74px;
      background-color: #e22084;
      margin: 0;
      padding: 0;
      display: none;

      .logo {
        width: 230px;
        height: 102px;
        margin: 0 auto;
      }

      img {
        width: 63px;
        height: 57px;
        padding-right: 12px;
      }

      @include response(medium) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }

    .carta__titulo {
      font-size: 32px;
      text-transform: uppercase;
      color: #e22084;
      font-weight: 700;
      text-align: center;
      margin: 0 auto;
    }
  }
  .expo__speakers {
    padding-top: 42px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;

    @include response(medium) {
      padding-left: 200px;
      padding-right: 200px;
    }
    .speaker {
      padding: 10px;
      display: flex;
      position: center;
      text-transform: uppercase;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 212px;
        height: 212px;
      }
      @include response(small) {
        img {
          width: 132px;
          height: 132px;
        }
      }
      .speaker__separador {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 54px;
        height: 4px;
        background-color: #e22084;
      }
    }
  }
}
