.expositores {
  padding-top: 80px;

  .expo__span {
    width: 100%;
    height: 100px;
    background-color: #e22084;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    .logo {
      width: 230px;
      height: 102px;
      margin: 0 auto;
      display: none;
      @include response(medium) {
        display: block;
      }
    }

    img {
      width: 63px;
      height: 57px;
      padding-right: 12px;
      display: none;
      @include response(medium) {
        display: block;
      }
    }

    .carta__titulo {
      font-size: 22px;
      text-transform: uppercase;
      color: white;
      font-weight: 700;
      text-align: center;
      @include response(medium) {
        padding-right: 550px;
        margin-right: 20px;
        font-size: 32px;
      }
    }
  }

  .expo__speakers {
    padding-top: 42px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    @include response(medium) {
      padding-left: 100px;
      padding-right: 100px;
    }
    .speaker {
      padding-bottom: 70px;
      display: flex;
      position: center;
      text-transform: uppercase;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      align-items: center;
      white-space: nowrap;

      img {
        width: 212px;
        height: 212px;
        border-radius: 70px;
      }

      @include response(small) {
        img {
          width: 132px;
          height: 132px;
          border-radius: 70px;
        }
      }

      .speaker__separador {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 54px;
        height: 4px;
        background-color: #e22084;
      }
    }
  }
}
