.inscripcion {
  color: white;
  height: 142px;
  background-color: #1673b9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .inscript__text {
    text-transform: uppercase;
    font-weight: 700;
  }

  .inscript__button {
    width: 186px;
    height: 49px;
    border-radius: 16px;
    background-color: #ffffff;
    color: grey;
    text-transform: uppercase;
    font-weight: 700;
    border: 0;
    margin: 0 auto;
    @include response(medium) {
      margin: 0;
      margin-right: 20px;
    }
    &:hover {
      background-color: #1673b9;
      border: 1px solid white;
      color: white;
    }
  }

  .inscript__media {
    @include response(medium) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
  .inscript__hashtags {
    display: none;
    @include response(medium) {
      display: block;
    }
  }
}
