.programa {
  // padding-top: 60px; // Valor previo = 200px;
  // padding-bottom: 32px;
  .programa__rectangulo {
    display: flex;
    align-items: center;

    .programa__span {
      width: 596px;
      height: 74px;
      background-color: #1673b9;
      margin: 0;
      padding: 0;
      display: none;

      .logo {
        width: 230px;
        height: 102px;
        padding-right: 150px;
      }

      img {
        width: 39px;
        height: 48px;
        padding-right: 12px;
      }

      @include response(medium) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }

    .rectangulo__title {
      font-size: 32px;
      text-transform: uppercase;
      color: #1673b9;
      font-weight: 700;
      margin: 0 auto;
    }
  }
  .programa__programa {
    @include response(medium) {
      //padding-top:  80px;
      padding-top: 40px;
      padding-left: 200px;
      padding-right: 200px;
    }

    .programa__title {
      font-weight: 900;
    }
    .programa__sub {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
    }
    .programa__content {
      font-size: 18px;
      span {
        font-weight: 700;
      }
    }
    .programa__desarrollo {
      .programa__desarrollo__del__encuentro {
        font-family: "Gilroy-Bold", sans-serif;
        font-size: 28px;
        font-weight: 600;
      }
      .programa__fecha {
        font-weight: 700;
        width: 212px;
        height: 35px;
        background-color: #1673b9;
        color: white;
        text-transform: uppercase;
        padding: 10px;
      }

      .programa__evento {
        padding-top: 32px;
        // text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        font-family: "Gilroy-Bold", sans-serif;

        .pregunta {
          padding-top: 12px;
          font-weight: 600;
          color: black;
          font-size: 14px !important;
        }

        span {
          color: #1673b9;
        }

        .programa__oradores {
          color: black;
          font-weight: 100;
          font-size: 16px;
          font-family: Arial, Helvetica, sans-serif;

          .programa__orador__nombre {
            font-weight: bold;
            color: black;
          }
        }
      }
    }
  }
}
