.programa {
  padding-top: 100px;
  padding-bottom: 32px;

  .programa__span {
    width: 100%;
    height: 100px;
    background-color: #1673b9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    @include response(medium) {
      margin-bottom: 0px;
    }

    .logo {
      width: 246px;
      height: 70px;
      padding-right: 90px;
      margin-right: 120px;
      display: none;
      @include response(medium) {
        display: block;
      }
    }

    img {
      width: 58px;
      height: 54px;
      padding-right: 12px;
      display: none;

      @include response(medium) {
        display: block;
      }
    }

    .span__title {
      font-size: 22px;
      text-transform: uppercase;
      color: white;
      font-weight: 700;
      text-align: center;
      @include response(medium) {
        padding-right: 150px;
        margin-right: 220px;
        font-size: 32px;
      }
    }
  }

  .programa__programa {
    @include response(medium) {
      //padding-top:  80px;
      padding-top: 40px;
      padding-left: 200px;
      padding-right: 200px;
    }

    .programa__title {
      font-weight: 900;
    }
    .programa__sub {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
    }
    .programa__content {
      font-size: 18px;
      span {
        font-weight: 700;
      }
    }
    .programa__desarrollo {
      .programa__desarrollo__del__encuentro {
        font-family: "Gilroy-Bold", sans-serif;
        font-size: 28px;
        font-weight: 600;
      }
      .programa__fecha {
        font-weight: 700;
        width: 212px;
        height: 35px;
        background-color: #1673b9;
        color: white;
        text-transform: uppercase;
        padding: 10px;
      }

      .programa__evento {
        padding-top: 32px;
        // text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        font-family: "Gilroy-Bold", sans-serif;

        .pregunta {
          padding-top: 12px;
          font-weight: 600;
          color: black;
          font-size: 14px !important;
        }

        span {
          color: #1673b9;
        }

        .programa__oradores {
          color: black;
          font-weight: 100;
          font-size: 16px;
          font-family: Arial, Helvetica, sans-serif;

          .programa__orador__nombre {
            font-weight: bold;
            color: black;
          }
        }
      }
    }
  }
}
